body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

#selected-time,
#any-time {
  display: block;
}
#any-time {
  color: #666;
  font-style: italic;
}
#selected-time {
  font-weight: bold;
}